### Python binaries
*.pyc
*.pyo
__pycache__

#unused submodule
.gitmodules


#### IDE files and so on
.project
.cproject
.pydevproject
.classpath
.idea
*.iml


# Other
gmon.out
*~
\#*
.\#*
.directory
.pytest_cache

# Scratch files
pyworkflow/foo


# Packaging files
dist
*egg-info
build
